@page
@model MeuPortfolio.Pages.HistoriaModel
@{
}

<div style="color:white">
    <h1 class="display-4">História</h1>
    <p>Meu primeiro contato com programação foi em 2004 quando ganhei meu primeiro computador de minha saudosa avó</p>
    <p>Comecei a jogar o GTA San Andreas Online, o famoso SA-MP, que continham servidores online de RGP, DM e etc.</p>
    <p>Conheci bastante amigos e jogavamos em servidores aleatorios e alguns fixos, até que decidimos montar um nosso com nossas regras</p>
    <p>Foi entao que buscamos correr atrás de como desenvolver um, descobrimos que utilizava uma linguagem chamada PAWN em conjunto com o compilador PAWNO</p>
    <p>Desde então fui pesquisando em foruns gringos utilizando tradutor da google que na época era muito limitado e um pouco de conhecimento do nosso amigo de jogo</p>
    <p>Desenvolvi com muita luta e garra que ficou tão bom que era o segundo melhor servidor online de RPG na época.</p>
    <p>Devido um momento de crise familiar tive que vender o computador para ajudar na casa e na conta de luz, desde entao meu contato com computador novamente foi em 2018</p>
    <p>Quando um ex-sogro que é Analista de Sistemas, que se denomina como um Analista de Regra de Negócio Sr perguntou se eu havia tido contato com programação</p>
    <p>Eu disse que sim em 2004 e expliquei a história, como ele não tinha tempo de me ensinar, disse para mim procurar um curso de Visual Basic 6 que ele pagava pra mim ajudar ele na empresa dele</p>
    <p>Corri atrás e consegui esse curso presencial, no qual aprendi Lógica de Programação e Visual Basic 6 no qual em Agosto do mesmo ano comecei a estagiar com ele, aprendi toda a regra de negócio</p>
    <p>Como funcionava um banco de dados, elaboração de relatórios e afins que faziam parte do contexto do dia a dia da empresa, meu primeiro emprego home-office.</p>
    <p>Devido a circunstâncias da vida como término de namoro da filha dele, precisei sair da empresa e seguir outra coisa, foi então que comecei a trabalhar em lava-rápidos, posto de gasolina e portaria.</p>
    <p>Minha esposa hoje que era minha namorada quando eu estava na portaria sempre me aconselhava em eu poder voltar pra área de desenvolvimento, ela via que eu gostava mas não tinha coragem de enfrentar um desafio sozinho</p>
    <p>Foi então que devido a muita insistência comecei a estudar, me desfiz de coisas que gostava para adquirir um notebook para os estudos e durante os estudos conheci um rapaz no facebook  chamado Fábio que estava precisando </p>
    <p>De um desenvolvedor .NET, expliquei minha situação e conversamos via whatsapp, no outro dia fui em sua casa e ele me apresentou o Home-Office dele no qual fiquei encantado e admirado com a forma de trabalho</p>
    <p>Um monitor gigante, ele digitando codigos, entrando em reuniao aquilo me animou muito, ele me passou um material de estudo e comecei a estudar mais profundamente, depois de alguns meses comecei a fazer entrevista</p>
    <p>Com Apoio dele, depois de várias entrevistas inclusive no Hospital Israelita Albert Einstein, fui entrevistado pela empresa NGR Global que presta consultoria para a Unimed Campinas</p>
    <p>E então fiz uma entrevista técnica no qual fui aprovado e hoje estou atualmente prestando serviço para eles.</p>
    <p>Se você tem um sonho, não desista e corra atrás que você vai conseguir.</p>
    <p>Todo dia você acorda, e tem uma segunda chance de fazer o que quiser, de ser quem quiser, a única pessoa que esta te impedindo é você mesmo.</p>
    <p>Nenhum sonho é impossível, o céu é o limite.</p>
</div>