@page
@model IndexModel
@{
    ViewData["Title"] = "PORTFOLIO";
}

<div style="color:white">
    <h1 class="display-4">Bem vindo</h1>
    <p>Sinta-se a vontade para análise de meu Portfolio</p>
    <button id="btnOi" type="button" class="form-submit-button" style="width:20%"> <i></i> Clique para dar Oi </button>
    <p></p>
</div>
<div style="color:white">
    <h1 class="display-4">Resumo das Qualificações</h1>
    <p>
        Atuo com análise e desenvolvimento de sistemas, utilizando principalmente tecnologias Microsoft como C#, ASP.NET MVC<br />
        .NET Core, WebApi, WebForms e Visual Basic 6. Experiência com banco de dados SQL Server, PL/SQL Oracle,<br />
        ORM`s (Entity Framework e Dapper). Experiência na criação de MicroServices, projetos com DDD. <br />
        Atuação com levantamento de requisitos,documentações funcionais e técnicas. SCRUM.
    </p>
    <p></p>
</div>
<div style="color:white">
    <h1 class="display-4"> Cursos</h1>
    <p>
        Hardware (Montagem, Manutenção de Computadores e Redes) – S.O.S Computadores<br />
        Windows, Word, Excel, Power-Point e E-mail – Escola da Família – E.E. Sylvia de Mello<br />
        Analista de T.I. (Lógica de Programação, Visual Basic 6) – PREPARA Cursos<br />
        WorkShop (Montagem, Manutenção de Computadores e Redes) – PREPARA Cursos<br />
        Gestão Empresarial Integrada – SEBRAE EaD<br />
    </p>
</div>
<div style="color:white">
    <h1 class="display-4"> Conhecimentos Técnicos</h1>
    <p>
        Back-End: Plataforma .NET e .NET Core, trabalhando com C# em todos os seus usos ASP.NET (Web Forms, MVC e Web API), WinForms, Windows Services, Múltiplas Camadas.<br />
        ORM: Entity Framework e Dapper.<br />
        Front-End:  HTML 5, Javascript, jQuery, Bootstrap, CSS<br />
        Arquitetura: OOP, SOLID. <br />
        Ferramentas de Versionamento: Azure Git e TortoiseSVN<br />
        Banco de Dados: SQL Server Views, Stored Procedures, Triggers, Índices e otimização), Reporting Services,<br />
        MySQL 4 e 5 (Administração em geral, Views, Stored Procedures), Oracle PL/SQL e Microsoft Access.<br />
        Ferramentas de Desenvolvimento: Visual Studio .NET 2017/2019, Visual Studio Code e Visual Basic 6
    </p>
</div>
<div style="color:white">
    <h1 class="display-4"> Experiências Profissionais</h1>
    <p>
        <b> Dezembro/2021 – Atual – NGR Global – Unimed Campinas</b><br />
    </p>
    <p>
        <b>Função:</b> Desenvolvedor .NET Jr.<br />
        Desenvolvimento de sistemas e Web API’s utilizando VB.Net, Net Core 4.0 e 5.0 e C#, obedecendo as regras de negócios do ambiente utilizando POO,<br />
        atuando na sustentação back-end, front-end, banco de dados PL/SQL Oracle e em alguns projetos novos criados do início.<br />
    </p>
    <p>
        <b>Projeto: Transcrição – Área do Beneficiário – Unimed Campinas</b><br />
        Desenvolvimento de projeto em Dotnet 5.0 Razor Page na área do cliente atuando em front-end, back-end utilizando C#, Jquery, Javascript, <br />
        Html/Bootstrap, com acesso a dados PL/SQL utilizando WebAPI.<br />
    </p>
    <p>
        <b>Projeto: Desospitalização - Unimed Campinas</b><br />
        Prosseguimento no desenvolvimento de melhorias utilizando Visual Basic.Net, atuando em front-end, back-end, utilizando as linguagens Jquery, <br />
        Javascript, Html/Bootstrap com acesso a banco de dados PL/SQL Oracle criando procedures e chaves estrangeiras.<br />
    </p>
    <p>
        <b>Projeto: Teleorientação em Saúde – Unimed Campinas</b><br />
        Atualização de Telemedicina Covid-19 para Telemedicina em Saúde, utilizando C#, atuando em front-end, back-end,utilizando as linguagens Jquery, <br />
        Javascript, Html/Bootstrap com acesso a banco de dados PL/SQL Oracle criando novo questionário e alterando procedures existentes para a nova versão.<br />
    </p>
    <p>
        <b>Janeiro/2021 – Novembro/2021 – FGALANTE Tecnologia</b><br />
    </p>
    <p>
        <b>Função:</b> Analista Programador .NET Jr.<br />
        Desenvolvimento de sistemas utilizando .Net Core 3.1, utilizando boas práticas de desenvolvimento como SOLID e banco SQL Server com Entity Framework.<br />
    </p>
    <p>
        <b>Agosto/2018 – Dezembro/2019 – Project’Art Informática LTDA</b><br />
    </p>
    <p>
        <b>Função:</b> Desenvolvedor Visual Basic 6 Jr.<br />
        Desenvolvimento de Sistemas ERP e Automação Comercial utilizando Visual Basic 6, banco de dados SQL Server 2014, Access e emissão de relatórios em Crystal Reports 9.<br />
        Suporte Técnico Nível 2 envolvendo todo o Sistema de Gestão ERP, emissão de notas fiscais, suporte em softwares integrados ao sistema e inclusive instalação,<br />
        configuração dos softwares UniNfe e UniDanfe e de certificados digitais modelos A1 e A3.<br />
    </p>

</div>
